* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
}

.header {
    height: 100px;
    background-color: rgb(159, 25, 25);
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
}

.content {
    flex: 1 1 auto;
}

.header__icon {
    /* width: 50%; */
    background-color: black;
}

.header__icon img {
    height: 100px;
}

.header__burger {
    display: none;
}

.list {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    /* padding-right: 1%; */
    font-size: 20px;

}

.list li a {
    margin-left: 33px;
    color: white;
    transition: color .3s;
}

.list li a:hover {
    color: gold;
    transition: color .3s;
}

.footer {
    background-color: black;
    height: 100px;
}

/* .footer:hover {
background-color: rgba(0, 0, 0, 0.9);
} */


.cont__name {
    display: flex;
    justify-content: center;
    padding: 35px 20px 0 20px;
}

.cont__p {
    margin-right: 40px;
}

.acc {
    width: 35px;
    height: 35px;
}

.acc:hover {
    opacity: .8;
}

#acc4 {
    margin-right: 8px;
}

.footer__left {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-grow: 1;
}

.footer__right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;


}

.footer__left p {
    color: white;
}

.blocktwo {
    display: flex;
}

.blockone {
    display: flex;
}






@media (max-width:767px) {

    /*! HEADER */
    body.lock {
        overflow: hidden;
    }

    .header {
        height: 45px;
        padding-top: 12px;
    }

    .header__icon img {
        height: 45px;
        margin-top: -12px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        /* Достается меню */
        position: relative;
        z-index: 3;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }

    .header__burger:before {
        top: 0;
        margin-top: 2px;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: 10px;
        transition: all .3s ease 0s;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(159, 25, 25);
        padding: 70px 10px 20px 10px;
        transition: all .3s ease 0s;
        /* Дает доступ к скрулу если высота не позволяет открыйть полностью меню nav  */
        overflow: auto;
    }

    .header__menu.active {
        top: 0;
    }

    .list {
        display: block;
    }

    .list li {
        margin-bottom: 20px;
    }

    .header li a {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        font-size: 24px;
    }

    /*! FOTER */
    .cont__name {
        padding-top: 2px;
    }

    .cont__p {
        margin-top: 7px;
    }

    /* 
    
     .acc:hover {
         opacity: .8;
     } */
    #acc4 {}

    .footer__left {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        flex-grow: 1;
    }

    .footer__right {
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-end;
        padding-top: 15px;
        /* flex-grow: 1; */
        /* flex-wrap: wrap; */
    }

    .footer__right p {
        /* flex: 0 1 50%; */

    }

    .footer__left p {
        color: white;
    }

    .blocktwo {
        display: flex;
        flex-direction: column;
    }

    .blockone {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:337px) {
    .cont__p:last-child {
        display: none;
    }
}

/* Трансформация после нажатия */
.header__burger.active:before {
    transform: rotate(45deg);
    top: 8px;

}

.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.header__burger.active span {
    display: none;
}